<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>@ViewData["Title"]</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="~/assets/arsha/img/favicon.png" rel="icon">
  <link href="~/assets/arsha/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Rubik Bubbles" rel="stylesheet">
  @* <link href="https://fonts.googleapis.com/css2?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet"> *@
  <link href="https://fonts.googleapis.com/css2?family=Nosifer" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Agbalumo" rel="stylesheet">
  
  <!-- Vendor CSS Files -->
  <link href="~/assets/arsha/vendor/aos/aos.css" rel="stylesheet">
  <link href="~/assets/arsha/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="~/assets/arsha/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="~/assets/arsha/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="~/assets/arsha/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="~/assets/arsha/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="~/assets/arsha/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="~/assets/arsha/css/style.css" rel="stylesheet">
  <link href="~/assets/arsha/css/my-public-styles.css" rel="stylesheet">
  
   @await RenderSectionAsync("Styles", required: false)
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <partial name="Partials/Public/_Header" />
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <partial name="Partials/Public/_Hero" />
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= Cliens Section ======= -->
    @* <section id="cliens" class="cliens section-bg"> *@
    @*   <partial name="Partials/Public/_Clients" /> *@
    @* </section> *@
    <!-- End Cliens Section -->

    <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
      <partial name="Partials/Public/_AboutUs" />
    </section><!-- End About Us Section -->

    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us section-bg">
      <partial name="Partials/Public/_WhyUs" />
    </section><!-- End Why Us Section -->

    <!-- ======= Skills Section ======= -->
    @* <section id="skills" class="skills"> *@
    @*   <partial name="Partials/Public/_Skills" /> *@
    @* </section> *@
    <!-- End Skills Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg">
      <partial name="Partials/Public/_Services" />
    </section><!-- End Services Section -->

    <!-- ======= Cta Section ======= -->
    @* <section id="cta" class="cta"> *@
    @*   <partial name="Partials/Public/_CallToAction" /> *@
    @* </section> *@
    <!-- End Cta Section -->

    <!-- ======= Portfolio Section ======= -->
  @* <section id="portfolio" class="portfolio"> *@
  @*   <partial name="Partials/Public/_Portfolio" /> *@
  @* </section> *@
  <!-- End Portfolio Section -->

  <!-- ======= Team Section ======= -->
  <!-- ======= Body Section ======= -->
    <section id="team" class="team section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>THÔNG TIN THÁM TỬ</h2>
          <p>Các thông tin trong lĩnh vực thám tử.</p>
        </div>

        <div class="row">
          @RenderBody()
        </div>
        

      </div>
    </section><!-- End Team Section -->

    <!-- ======= Pricing Section ======= -->
    @* <section id="pricing" class="pricing"> *@
    @*   <partial name="Partials/Public/_Pricing" /> *@
    @* </section> *@
    <!-- End Pricing Section -->

    <!-- ======= Frequently Asked Questions Section ======= -->
    <section id="faq" class="faq section-bg">
      <partial name="Partials/Public/_FAQ" />
    </section><!-- End Frequently Asked Questions Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <partial name="Partials/Public/_Contact" />
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <partial name="Partials/Public/_Footer" />
  </footer><!-- End Footer -->

    <div class="supports">
        <a href="tel:@ViewData["HQPhone"]" class="hotline" data-wpel-link="internal">
            <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="24" cy="24" r="24" fill="#1092DA"></circle>
                <path d="M13.375 35.375H15.9187C24.9937 35.2375 35.375 23.6187 35.4437 15.85V13.3063C35.4437 12.6188 34.8937 12 34.1375 12L28.9812 12.0687C28.2937 12.0687 27.675 12.6875 27.675 13.375L27.5375 19.0125L30.7687 21.7625C30.7687 23.55 23.55 30.7687 21.6937 30.8375L18.7375 27.6063L13.3062 27.7437C12.6187 27.7437 12 28.3625 12 29.05L12.0687 34.0688C12.0687 34.825 12.6187 35.375 13.375 35.375Z" fill="white"></path>
            </svg>
          <span class="fw-bold">&nbsp; @ViewData["HQPhone"]</span>
        </a>
      <a href="http://zalo.me/@ViewData["HQPhone"]" target="_blank" class="zalo" data-wpel-link="external" rel="nofollow external noopener noreferrer">
        <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
          <circle cx="24" cy="24" r="24" fill="#1092DA"></circle>
          <g clip-path="url(#clip0_1100_3473)">
            <path d="M15.0285 34.1772C14.919 34.1285 14.8399 34.0737 14.9677 33.9642C15.0468 33.9033 15.132 33.8486 15.2172 33.7938C16.0143 33.2766 16.7627 32.7107 17.2556 31.8771C17.6693 31.1834 17.6024 30.7757 17.0852 30.2646C14.201 27.3804 12.9353 23.9303 13.5682 19.8534C13.9272 17.5534 14.9798 15.5636 16.5132 13.8355C17.4381 12.7889 18.5395 11.9432 19.7443 11.2373C19.8173 11.1947 19.9207 11.1826 19.9329 11.073C19.9086 11.0122 19.866 11.0304 19.8295 11.0304C17.7789 11.0304 15.7283 10.9878 13.6838 11.0426C11.7245 11.1034 10.0329 12.6186 10.039 14.7909C10.0511 21.1373 10.039 27.4838 10.039 33.8364C10.039 35.8079 11.5419 37.4569 13.5073 37.5299C15.1685 37.5968 16.8296 37.5421 18.4969 37.536C18.6186 37.5421 18.7403 37.5482 18.862 37.5482H27.6485C29.839 37.5482 32.0296 37.5603 34.2201 37.5482C36.2524 37.5482 37.9014 35.9052 37.9014 33.879V33.8425V30.2829C37.9014 30.1977 37.9319 30.1064 37.8771 30.0151C37.7676 30.0212 37.725 30.1125 37.6641 30.1733C36.4837 31.3599 35.0902 32.3152 33.5629 32.9906C29.8208 34.6396 26.0117 34.7552 22.1478 33.4287C21.8131 33.307 21.448 33.2948 21.1012 33.38C20.5901 33.5078 20.085 33.6599 19.58 33.8121C18.0953 34.2745 16.5802 34.4814 15.0285 34.1772V34.1772ZM19.44 23.9242C19.5435 23.7903 19.5982 23.7112 19.6591 23.6321C20.4562 22.622 21.2533 21.612 22.0504 20.5958C22.2816 20.3037 22.5129 20.0056 22.6589 19.6526C22.8293 19.251 22.6467 18.8738 22.233 18.7277C22.0504 18.673 21.8557 18.6486 21.661 18.6608C20.5779 18.6547 19.4887 18.6547 18.4056 18.6608C18.2535 18.6608 18.1014 18.6791 17.9553 18.7156C17.6146 18.8008 17.4077 19.1476 17.4929 19.4944C17.5537 19.7257 17.7363 19.9082 17.9675 19.963C18.1135 19.9995 18.2657 20.0177 18.4178 20.0117C19.0749 20.0177 19.7382 20.0116 20.3953 20.0177C20.4684 20.0177 20.5596 19.9691 20.6144 20.0786C20.5596 20.1516 20.5049 20.2246 20.4501 20.2916C19.507 21.4842 18.5699 22.6829 17.6267 23.8755C17.3955 24.1737 17.2738 24.5023 17.4442 24.8673C17.6146 25.2324 17.9614 25.2994 18.3143 25.3237C18.5942 25.342 18.8802 25.3298 19.1662 25.3298C20.152 25.3298 21.1316 25.3359 22.1174 25.3237C22.6407 25.3176 22.9206 25.0012 22.8658 24.5144C22.8232 24.1311 22.5616 23.9303 22.0748 23.9242C21.2168 23.9181 20.3588 23.9242 19.44 23.9242V23.9242ZM26.4984 20.7236C25.7378 20.0603 24.8981 20.0177 24.0767 20.5045C23.0788 21.0887 22.7137 22.044 22.8354 23.1514C22.951 24.1858 23.4013 25.0316 24.4844 25.3785C25.1598 25.5975 25.7865 25.5184 26.3402 25.0681C26.4863 24.9525 26.5289 24.9769 26.6323 25.1047C26.8331 25.3602 27.1799 25.4576 27.4842 25.342C27.7884 25.2507 27.9892 24.9708 27.9892 24.6544C27.9953 23.4374 28.0014 22.2204 27.9892 21.0035C27.9831 20.5167 27.5268 20.2064 27.0522 20.3037C26.7905 20.3585 26.6445 20.5349 26.4984 20.7236ZM30.7152 22.981C30.6909 24.5023 31.9505 25.6523 33.5325 25.4941C34.9868 25.3481 35.9299 24.2589 35.8813 22.7194C35.8326 21.1982 34.7008 20.1577 33.1492 20.2064C31.6949 20.249 30.6666 21.4172 30.7152 22.981V22.981ZM30.1798 21.7702C30.1798 20.8148 30.1859 19.8656 30.1798 18.9103C30.1798 18.4235 29.8694 18.1193 29.407 18.1253C28.9567 18.1314 28.6586 18.4357 28.6525 18.9042C28.6464 19.1902 28.6525 19.4701 28.6525 19.7561V24.5935C28.6525 24.9708 28.8837 25.2994 29.1879 25.3785C29.6078 25.4941 30.0398 25.2446 30.1493 24.8248C30.1676 24.7517 30.1798 24.6787 30.1737 24.5996C30.1859 23.6565 30.1798 22.7133 30.1798 21.7702V21.7702Z" fill="#FDFEFE"></path>
            <path d="M19.4396 23.9245C20.3584 23.9245 21.2224 23.9184 22.0804 23.9245C22.5611 23.9305 22.8227 24.1313 22.8714 24.5147C22.9262 24.9954 22.6463 25.3179 22.123 25.324C21.1372 25.3361 20.1576 25.3301 19.1718 25.3301C18.8858 25.3301 18.6059 25.3422 18.32 25.324C17.967 25.3057 17.6202 25.2327 17.4498 24.8676C17.2795 24.5025 17.4011 24.1739 17.6324 23.8758C18.5694 22.6832 19.5126 21.4844 20.4557 20.2918C20.5105 20.2188 20.5653 20.1458 20.62 20.0788C20.5592 19.9754 20.474 20.0241 20.401 20.018C19.7438 20.0119 19.0806 20.018 18.4234 20.0119C18.2713 20.0119 18.1192 19.9937 17.9731 19.9632C17.6263 19.8841 17.4133 19.5373 17.4924 19.1965C17.5472 18.9653 17.7297 18.7767 17.961 18.7219C18.107 18.6854 18.2591 18.6672 18.4112 18.6672C19.4943 18.6611 20.5835 18.6611 21.6666 18.6672C21.8613 18.6611 22.05 18.6854 22.2386 18.7341C22.6524 18.874 22.8288 19.2574 22.6645 19.659C22.5185 20.0058 22.2873 20.304 22.056 20.6021C21.2589 21.6183 20.4618 22.6284 19.6647 23.6324C19.5978 23.7115 19.5369 23.7906 19.4396 23.9245V23.9245Z" fill="white"></path>
            <path d="M26.4967 20.7236C26.6427 20.5349 26.7948 20.3585 27.0443 20.3098C27.525 20.2125 27.9753 20.5228 27.9814 21.0096C27.9996 22.2265 27.9935 23.4435 27.9814 24.6605C27.9814 24.9769 27.7745 25.2568 27.4763 25.3481C27.1721 25.4637 26.8252 25.3724 26.6244 25.1107C26.521 24.983 26.4784 24.9586 26.3324 25.0742C25.7786 25.5245 25.1519 25.6036 24.4765 25.3846C23.3934 25.0316 22.9492 24.1859 22.8275 23.1575C22.6997 22.044 23.0709 21.0948 24.0688 20.5106C24.8963 20.0177 25.7361 20.0603 26.4967 20.7236V20.7236ZM24.3426 22.9445C24.3548 23.2123 24.44 23.4678 24.5982 23.6808C24.9268 24.1189 25.5535 24.2102 25.9977 23.8816C26.0707 23.8268 26.1377 23.7599 26.1985 23.6808C26.5393 23.2184 26.5393 22.4578 26.1985 21.9953C26.0281 21.758 25.7604 21.618 25.4744 21.612C24.8051 21.5694 24.3365 22.0866 24.3426 22.9445V22.9445ZM30.7135 22.9811C30.6648 21.4172 31.6931 20.249 33.1535 20.2064C34.7051 20.1577 35.8369 21.1982 35.8856 22.7194C35.9342 24.2589 34.9911 25.3481 33.5368 25.4941C31.9487 25.6523 30.6891 24.5023 30.7135 22.9811V22.9811ZM32.2407 22.835C32.2286 23.1393 32.3198 23.4374 32.5024 23.6869C32.8371 24.125 33.4638 24.2102 33.9019 23.8694C33.9688 23.8208 34.0236 23.7599 34.0784 23.6991C34.4313 23.2366 34.4313 22.4578 34.0845 21.9953C33.9141 21.7641 33.6463 21.618 33.3604 21.612C32.7032 21.5755 32.2407 22.0744 32.2407 22.835V22.835ZM30.178 21.7702C30.178 22.7133 30.1841 23.6565 30.178 24.5996C30.1841 25.0316 29.8433 25.3906 29.4113 25.4028C29.3383 25.4028 29.2592 25.3967 29.1862 25.3785C28.8819 25.2994 28.6507 24.9769 28.6507 24.5935V19.7561C28.6507 19.4701 28.6446 19.1902 28.6507 18.9042C28.6568 18.4357 28.9549 18.1314 29.4052 18.1314C29.8677 18.1254 30.178 18.4296 30.178 18.9164C30.1841 19.8656 30.178 20.8209 30.178 21.7702V21.7702Z" fill="white"></path>
            <path d="M24.3439 22.944C24.3378 22.086 24.8064 21.5688 25.4696 21.6053C25.7556 21.6175 26.0233 21.7574 26.1937 21.9948C26.5345 22.4511 26.5345 23.2178 26.1937 23.6803C25.8651 24.1184 25.2384 24.2096 24.7942 23.8811C24.7212 23.8263 24.6543 23.7594 24.5934 23.6803C24.4413 23.4673 24.3561 23.2117 24.3439 22.944V22.944ZM32.242 22.8345C32.242 22.0799 32.7045 21.5749 33.3617 21.6114C33.6476 21.6175 33.9154 21.7635 34.0858 21.9948C34.4326 22.4572 34.4326 23.2421 34.0797 23.6985C33.7389 24.1305 33.1061 24.2036 32.6741 23.8628C32.6071 23.8141 32.5524 23.7533 32.5037 23.6863C32.3212 23.4369 32.236 23.1387 32.242 22.8345V22.8345Z" fill="#004B77"></path>
          </g>
          <defs>
            <clipPath id="clip0_1100_3473">
              <rect width="28" height="26.5664" fill="white" transform="translate(10 11)"></rect>
            </clipPath>
          </defs>
        </svg>
        <span class="fw-bold">&nbsp; @ViewData["HQPhone"]</span>
      </a>
      
    </div>


  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="~/assets/arsha/vendor/aos/aos.js"></script>
  <script src="~/assets/arsha/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="~/assets/arsha/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="~/assets/arsha/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="~/assets/arsha/vendor/php-email-form/validate.js"></script>
  <script src="~/assets/arsha/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="~/assets/arsha/vendor/waypoints/noframework.waypoints.js"></script>

  <!-- Template Main JS File -->
  <script src="~/assets/arsha/js/main.js"></script>

  @await RenderSectionAsync("Scripts", required: false)
</body>

</html>