
@{
    ViewData["Title"] = "About Us";
    Layout = "_PostDetailLayout";
}

<p>
    Chúng tôi luôn thấu hiển và đồng hành cùng khách hàng để tìm về các giá trị đáp ứng được kỳ vọng.
</p>
<div>
    <p>
        Chúng tôi sở hữu đội ngũ thám tử có dày dặn kinh nghiệp có nghiệp cụ cao, đầu tư các trong thiết bị hiện đại để cung cấp tới khách các các dịch vụ thám tử đảm bảo:
    </p>
    <ul>
        <li><i class="ri-check-double-line"></i> Tính bảo mật tuyệt đối</li>
        <li><i class="ri-check-double-line"></i> Nhanh chóng và hợp pháp</li>
        <li><i class="ri-check-double-line"></i> Chi phí vô cùng hợp lý</li>
    </ul>
</div>
<p>Hiện tại chúng tôi có văn phòng đại diện tại 3 miền Bắc, Trung, Nam cung cấp các dịch vụ thám tử trên phạm vi toàn quốc</p>