
@{
    ViewData["Title"] = "Product Page";
}

<div class="text-center">
    <h1 class="display-4">Product</h1>
    <a href="/product/add">Add Test Product</a>
    <a href="/product/list">Get All Product</a>
</div>