
<aside class="aside aside-fixed">
      <div class="aside-header">
        <a href="/" class="aside-logo">@ViewData["SiteName"]</a>
        <a href="" class="aside-menu-link">
          <i data-feather="menu"></i>
          <i data-feather="x"></i>
        </a>
      </div>
      <div class="aside-body">
        <div class="aside-loggedin">
          <div class="d-flex align-items-center justify-content-start">
            <a href="" class="avatar"><img src="/assets/img/user-icon.png" class="rounded-circle" alt=""></a>
            <div class="aside-alert-link">
            
              @*<a href="" class="new" data-toggle="tooltip" title="You have 4 new notifications"><i data-feather="bell"></i></a>*@
              <a href="/Auth/Logout" data-toggle="tooltip" title="Sign out"><i data-feather="log-out"></i></a>
            </div>
            
          </div>
          <div class="tx-bold">@User.Identity.Name</div>
          
        </div><!-- aside-loggedin -->

        <ul class="nav nav-aside">
            <li class="nav-item tx-bold"><a href="/Admin/SiteContent" class="nav-link"><i data-feather="settings"></i> <span>Thông tin Website</span></a></li>
          <li class="nav-item tx-bold"><a href="/Admin/User" class="nav-link"><i data-feather="users"></i> <span>Quản lý User</span></a></li>
          <li class="nav-item tx-bold"><a href="/Admin/Category" class="nav-link"><i data-feather="settings"></i> <span>Quản lý danh mục</span></a></li>
          <li class="nav-item tx-bold"><a href="/Admin/Tag" class="nav-link"><i data-feather="settings"></i> <span>Quản lý Thẻ</span></a></li>
          <br>
          <li class="nav-item tx-bold"><a href="/Admin/Post" class="nav-link"><i data-feather="list"></i> <span>Quản lý Bài viết</span></a></li>
<br>
        
            
          <li class="nav-item tx-bold"><a href="/Admin/Setting" class="nav-link"><i data-feather="settings"></i> <span>Cấu hình WebSite</span></a></li>
          <li class="nav-item tx-bold"><a href="/Admin/FAQ" class="nav-link"><i data-feather="help-circle"></i> <span>Câu hỏi thường gặp</span></a></li>
          <li class="nav-item tx-bold"><a href="/Admin/FileManager" class="nav-link"><i data-feather="file-text"></i> <span>File Manager</span></a></li>
            
        </ul>
      </div>
    </aside>